<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Data Driven Basics</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aecef">  <td>18/09/13 10:01:58</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcases.LoginTest@1068e947]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1738236591</td>   <td></td> </tr>
<tr bgcolor="a1a8d5">  <td>18/09/13 10:02:08</td>   <td>10507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginAsAdmin()[pri:0, instance:com.w2a.testcases.LoginTest@1068e947]">LoginAsAdmin</td> 
  <td>main@1738236591</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>18/09/13 10:02:14</td>   <td>16177</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcases.LoginTest@1068e947]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1738236591</td>   <td></td> </tr>
</table>
